USE [master]
GO
CREATE DATABASE StoreSach
GO
USE StoreSach
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreSach]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 3/19/2026 1:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Preview] [nvarchar](max) NULL,
	[SoldCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/19/2026 1:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 3/19/2026 1:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/19/2026 1:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[BookId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/19/2026 1:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Total] [decimal](18, 2) NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2026 1:04:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [Title], [Author], [Price], [Image], [CategoryId], [CreatedDate], [Preview], [SoldCount]) VALUES (34, N'Đắc Nhân Tâm', N'Dale Carnegie', CAST(95000.00 AS Decimal(18, 2)), N'/Content/images/book2.jpg', 2, CAST(N'2025-09-25T10:26:31.780' AS DateTime), N'Đắc Nhân Tâm là tác phẩm kinh điển về nghệ thuật ứng xử, giao tiếp và thuyết phục. Những nguyên tắc trong sách giúp ta hiểu con người, tạo thiện cảm và xây dựng mối quan hệ bền vững trong cuộc sống và công việc.', 29)
INSERT [dbo].[Books] ([BookId], [Title], [Author], [Price], [Image], [CategoryId], [CreatedDate], [Preview], [SoldCount]) VALUES (37, N'Chí Phèo', N'Nam Cao', CAST(75000.00 AS Decimal(18, 2)), N'/Content/images/book5.jpg', 1, CAST(N'2025-09-25T10:26:31.780' AS DateTime), N'Chí Phèo của Nam Cao khắc họa bi kịch của người nông dân bị tha hóa. Từ một con người lương thiện, Chí trở thành kẻ lưu manh, nhưng sâu thẳm vẫn là khát khao được yêu thương và sống làm người đúng nghĩa.', 96)
INSERT [dbo].[Books] ([BookId], [Title], [Author], [Price], [Image], [CategoryId], [CreatedDate], [Preview], [SoldCount]) VALUES (38, N'Số Đỏ', N'Vũ Trọng Phụng', CAST(85000.00 AS Decimal(18, 2)), N'/Content/images/book6.jpg', 1, CAST(N'2025-09-25T10:26:31.780' AS DateTime), N'Số Đỏ của Vũ Trọng Phụng là tác phẩm trào phúng đặc sắc, phơi bày sự lố bịch của xã hội nửa tây nửa ta. Nhân vật Xuân Tóc Đỏ trở thành hiện tượng, từ kẻ vô danh vươn lên nhờ sự hỗn loạn của thời cuộc.', 91)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (4, N'Công nghệ')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (3, N'Kinh tế')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (2, N'Kỹ năng sống')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [BookId], [Quantity], [Price]) VALUES (4, 3, 74, 1, CAST(85000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [BookId], [Quantity], [Price]) VALUES (5, 3, 72, 1, CAST(90000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [BookId], [Quantity], [Price]) VALUES (6, 3, 69, 1, CAST(140000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Total], [FullName], [Phone], [Address], [PaymentMethod], [Status], [ShippingAddress], [CreatedAt]) VALUES (3, 4, CAST(N'2025-10-06T08:30:14.147' AS DateTime), CAST(315000.00 AS Decimal(18, 2)), N'gia vy', N'0129384422', N'23 tôn thánh, q12, hcm ', N'COD', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Role], [CreatedDate], [Email], [Phone], [Address]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'Admin', CAST(N'2025-09-25T10:24:37.863' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Role], [CreatedDate], [Email], [Phone], [Address]) VALUES (2, N'user1', N'123456', N'Nguyễn Văn B', N'User', CAST(N'2025-09-25T10:24:37.863' AS DateTime), N'user123456@gmail.com', N'0391021029', N'23 tôn chí tôn quận 12 tphcm')
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Role], [CreatedDate], [Email], [Phone], [Address]) VALUES (4, N'giavyx', N'giavy111', N'Trinh huynh gia vy', N'Customer', CAST(N'2025-09-25T10:28:19.603' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Book]    Script Date: 3/19/2026 1:04:43 PM ******/
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [UQ_Book] UNIQUE NONCLUSTERED 
(
	[Title] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F6488E7A31]    Script Date: 3/19/2026 1:04:43 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E45EAF19D2]    Script Date: 3/19/2026 1:04:43 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [SoldCount]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBook]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thêm Book, nếu trùng Title + Author thì bỏ qua
CREATE PROCEDURE [dbo].[sp_AddBook]
    @Title NVARCHAR(200),
    @Author NVARCHAR(100),
    @Price DECIMAL(18,2),
    @Image NVARCHAR(250),
    @CategoryId INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Books WHERE Title = @Title AND Author = @Author)
    BEGIN
        INSERT INTO Books (Title, Author, Price, Image, CategoryId)
        VALUES (@Title, @Author, @Price, @Image, @CategoryId);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCategory]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================
-- SP THÊM / XÓA DỮ LIỆU
-- ========================================

-- Thêm Category, nếu có rồi thì bỏ qua
CREATE PROCEDURE [dbo].[sp_AddCategory]
    @Name NVARCHAR(100)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Categories WHERE Name = @Name)
    BEGIN
        INSERT INTO Categories (Name) VALUES (@Name);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBook]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xóa Book theo ID
CREATE PROCEDURE [dbo].[sp_DeleteBook]
    @BookId INT
AS
BEGIN
    DELETE FROM Books WHERE BookId = @BookId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xóa Category theo ID
CREATE PROCEDURE [dbo].[sp_DeleteCategory]
    @CategoryId INT
AS
BEGIN
    DELETE FROM Categories WHERE CategoryId = @CategoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBestSeller]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lấy sách bán chạy
CREATE PROCEDURE [dbo].[sp_GetBestSeller]
    @Top INT = 8
AS
BEGIN
    SELECT TOP (@Top)
        b.BookId, b.Title, b.Author, b.Price, b.Image, SUM(od.Quantity) AS TotalSold
    FROM Books b
    JOIN OrderDetails od ON b.BookId = od.BookId
    GROUP BY b.BookId, b.Title, b.Author, b.Price, b.Image
    ORDER BY SUM(od.Quantity) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBooksByCategory]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lọc sách theo thể loại
CREATE PROCEDURE [dbo].[sp_GetBooksByCategory]
    @CategoryId INT
AS
BEGIN
    IF @CategoryId = 0
        SELECT BookId, Title, Author, Price, Image FROM Books;
    ELSE
        SELECT BookId, Title, Author, Price, Image FROM Books WHERE CategoryId = @CategoryId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNewBooks]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetNewBooks]
    @Top INT = 8
AS
BEGIN
    SELECT TOP (@Top) BookId, Title, Author, Price, Image, CreatedDate
    FROM Books
    ORDER BY CreatedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchBooks]    Script Date: 3/19/2026 1:04:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tìm kiếm sách
CREATE PROCEDURE [dbo].[sp_SearchBooks]
    @Keyword NVARCHAR(100)
AS
BEGIN
    SELECT BookId, Title, Author, Price, Image
    FROM Books
    WHERE Title LIKE '%' + @Keyword + '%' OR Author LIKE '%' + @Keyword + '%';
END;
GO
USE [master]
GO
